<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".RoomHomeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        
        <activity
            android:name=".RoomCreateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        
        <activity
            android:name=".RoomJoinActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".RoomMainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>